@model UserDto

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/app/plugins/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Admin/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Admin/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/Admin/images/logo.svg">
                            </div>
                            <h4>Hello! let's get started</h4>
                            <h6 class="font-weight-light">Sign in to continue.</h6>
                            <form method="post" role="form" enctype="multipart/form-data" asp-area="Admin"
                            asp-controller="Account" asp-action="Save" class="pt-3">
                            <input type="hidden" asp-for="ReturnUrl"  />
                                <div class="form-group">
                                    <input type="email" asp-for="Email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="mt-3">
                                    <input type="submit" value="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" />
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input"> Keep me signed in
                                        </label>
                                    </div>
                                    <a href="#" class="auth-link text-black">Forgot password?</a>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Don't have an account? <a href="register.html" class="text-primary">Create</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/app/plugins/js/sweetalert2.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Admin/js/off-canvas.js"></script>
    <script src="~/Admin/js/hoverable-collapse.js"></script>
    <script src="~/Admin/js/misc.js"></script>
    <script src="~/Admin/js/settings.js"></script>
    <script src="~/Admin/js/todolist.js"></script>
    <script src="~/Admin/js/jquery.cookie.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/app/shared/alerts.js"></script>
    <!-- endinject -->
    @if (TempData["MeesageType"] != null)
    {
        <script>
            $(document).ready(function () {
                let messageType = @TempData["MeesageType"];

                switch (messageType) {
                    case 6:
                        alert.Success('@Messages.LoginSuccessTitle', '@Messages.LoginSuccessMessage');
                        break;
                    case 7:
                        alert.Error('@Messages.LoginFailedTitle', '@Messages.LoginFailedMessage');
                        break;
                    case 8:
                        alert.Success('@Messages.RegisterSuccessTitle', '@Messages.RegisterSuccessMessage');
                        break;
                    case 9:
                        alert.Error('@Messages.RegisterFailedTitle', '@Messages.RegisterFailedMessage');
                        break;
                    default:
                        console.log("Unknown message type");
                        break;
                }

            });

        </script>
    }

</body>
</html>
